.filterContainer {
  display: flex;

  margin-left: 64px;
}

.formControlTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #8a8a89;
  margin-bottom: 8px;
}

.filterContainerBtnClear {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 23px 0px 0px;
  transition: color 250ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.filterContainerBtnSvg {
  width: 28px;
  height: 28px;
}

.filterContainerBtnClear:hover .filterContainerBtnSvg {
  color: #f0aa8d;
  fill: #f0aa8d;
}

.filterContainerFound {
  margin-top: 32px;
  margin-left: 64px;
  color: #ca0000ba;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
