.homeStatsWrapp {
  max-width: 1312px;
  padding: 42px 0px;
  border-radius: 30px;
  border: 1.5px dashed #f0aa8d;
}

.homeStatsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.homeStatsItem {
  display: flex;
  gap: 16px;
}

.homeStatsNumber {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: #121417;
}

.homeStatsText {
  width: 92px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
}
